<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <div class="container">
    @if(user)
    
      <h1>Welcome, {{ user.name }}</h1>
      {{{ user.name }}}
      @if(user.isAdmin)
        <span class="badge">Admin</span>
      @end

      @!component('componentName', { text: 'Hello' })
      {{-- <button
                                type="button"
                                class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                aria-expanded="false"
                                data-dropdown-toggle="dropdown-user"
                            >
      <span class="sr-only">Open user menu</span> --}}

                        <span class="">{{ auth.user.firstName }}</span>
                        <img
                            class="w-8 h-8 rounded-full"
                            src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                            alt="user photo"
                        />
      {{-- </button> --}}

      <ul>
        @each(item in items)
          <li>{{ item.name }} - ${{ item.price }}</li>
        @end
      </ul>
    @else
      <h1>Welcome, Guest</h1>
      <p>Please <a href="/login">login</a> to continue</p>
    @end

    @let(oldValue= name ? old(name) : '')
    @let(value = $props.value || oldValue)


    {{-- This is a comment that won't be rendered --}}
  </div>
  <div>
    <form method="POST" action="{{ route('integrations.integration.store', {provider}) }}">
        {{ csrfField() }}
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                @!form.input({ label: 'Integration Name', placeholder: 'Name of the integration',  name: 'name', required: true })
                @!form.input({ label: 'Integration Identifier',placeholder: 'The unique identifier of the integration', name: 'identifier', required: true })

            </div>
        </div>
        @!form.button({text: 'Add Integration'})
    </form>
  </div>
  @if(type === 'password')
        <input
            type="{{ type }}"
            name="{{ name }}"
            for="{{ name }}"
            placeholder="password"
            class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
            {{ required ? 'required' : '' }}
        />
    @else
        <input
            type="{{ type || 'text' }}"
            name="{{ name || '' }}"
            placeholder="{{ placeholder || '' }}"
            for="{{ name }}"
            class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
            {{ required ? 'required' : '' }}
        />
    @end
</body>
</html>
